body{
    text-align: center;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#h12{
    background-color: black;
    color: red;
}
#h66{
    font-size: medium;
    color: rgb(0, 0, 0);
}

button{
    background-color:blue ;
    color: black;
    font-size: 30px;
}
#result_object,#result_confidence{
    font-size: medium;
    color: orange;
    background-color: black;
    width: 50%;
   margin-left: 30%;
}
#camera{
  margin-left:600px;
  border: 6px ridge red;
  border-radius: 5px;
}
#result{
    border: 6px ridge red;
  border-radius: 5px;
  width: 350px;
  height: 300px;
  margin-left:600px;
}